<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container py-5 bg-dark"id="flightShow">
    <section>
      <h1 class="text-warning font-weight-bold my-3">
        <%= flight.airline %> 
      </h1>
      <div class="row my-row ">
        <div class="col-12 text-info text-uppercase text-align-center my-3">Airport: </div>
      </div>
      <div class="text-light"><%= flight.airport %></div>
      <div class="row my-row">
        <div class="col-12 text-info text-uppercase my-3" >Flight Number: </div>
      </div>
      <div class="text-light"><%= flight.flightNo%></div>
      <div class="row my-row">
        <div class="col-12 text-info text-uppercase my-3">Departs On: </div>
      </div>
      <div class="text-light"><%= flight.departs%></div>
      <div class="row my-row">
        <div class="col-12 text-info text-uppercase my-3">Destinations:</div>
      </div>
    <ul class="text-light">
        <%- flight.destinations.map(d => 
          `<li>${d.airport}</li>`
        ).join('') %>
      </ul>  
    </section><br>
  <form id="add-des-to-des" action="/flights/<%= flight._id %>/destinations" method="POST">
    <select class="dropdown-menu-right input-group" name="destinationId">
      <%- destinations.map(d => 
        `<option value="${d._id}">${d.airport}</option>`
      ).join('') %>
    </select><br>
    <button class="input-group-btn btn-primary" type="submit">Add to Destinations</button>
  </form><br>
    
  <h2 class="text-warning" align-content-center">Tickets</h2>
  <section>
  <form 
    id="add-tickets-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
    class="form-group"
  >
    <label for="seat-textarea">Seat:</label>
    <textarea class="form-control" name="seat" id="seat-textarea" required pattern="[A-F][1-9]\d?"></textarea>
    <label for="price-seatarae">Price: </label>
    <textarea class="form-control" name="price" id="price-textarea"></textarea><br>
    <button class="input-group-btn btn-primary" type="submit">Add Ticket</button>
  </form>
</section>
  <br>
  <% if (flight.tickets.length) { %>
    <table class="table text-white">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Seat Number: </th>
          <th scope="col">Price: </th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
</div>
</main>


<%- include('../partials/footer') %>
</main>
  
<%- include('../partials/footer') %>