<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h2>Tickets</h2>
  <form 
    id="add-tickets-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-textarea">Seat:</label>
    <textarea name="seat" id="seat-textarea"></textarea>
    <label for="price-seatarae">Price: </label>
    <textarea name="price" id="price-textarea"></textarea>
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat Number: </th>
          <th>Price: </th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
</main>


<%- include('../partials/footer') %>
</main>
  
<%- include('../partials/footer') %>